#include "{NAME}.h"

G_DEFINE_TYPE({PREFIX-CAMELIZE}{NAME-CAMELIZE}, {PREFIX-LOWERCASE}_{NAME}, G_TYPE_OBJECT)

static void {PREFIX-LOWERCASE}_{NAME}_init({PREFIX-CAMELIZE}{NAME-CAMELIZE} *self)
{
}
static void {PREFIX-LOWERCASE}_{NAME}_class_init({PREFIX-CAMELIZE}{NAME-CAMELIZE}Class *klass)
{
}
